@model IEnumerable<LojaNinja.Dominio.Pedido>

@{
    ViewBag.Title = "Listagem";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

@Html.AntiForgeryToken()
<h2>Listagem de Pedidos</h2>

<p>
    <a href="@Url.Action("Manter", "Pedido")">
        <button type="submit" class="btn btn-default"> Cadastrar </button>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntregaDesejada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td @Html.Raw(item.PedidoUrgente ? "class='urgente'" : "")>
                @Html.DisplayFor(modelItem => item.DataEntregaDesejada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a href="@Url.Action("Manter", new { id = item.Id })">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Editar</span>
                </a> |
                <a href="@Url.Action("Detalhes", new { id = item.Id })">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="sr-only">Detalhes</span>
                </a> |
                <a href="@Url.Action("Excluir", new { id = item.Id })">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Excluir</span>
                </a>
            </td>
        </tr>
    }

</table>
